<template name="web_navbar_top">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav" style="width:100%">
                <li><img id="dash-gear" src="../../images/terminal.gif" height="30px" width="30px" vertical-align="middle" style="padding-top:15%;"></li>
                <li {{#if home_active}}class="active"{{/if}}><a href="home">Neon</a></li>
                <li {{#if dashboard_active}}class="active"{{/if}}><a href="dashboard">Chrome</a></li>
                <li {{#if dashboard_active}}class="active"{{/if}}><a href="droga">Droga</a></li>
            </ul>
        </div>
    </div>
</div>
</template>
